img {
  width:200px;
  height:200px;
  padding:2px;
    border: 2px solid #000000;
}

body {
   background-color: pink;
}

p {
  color: purple;
    text color: white;
}

#banner {
  font-size:12px;
}
